/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0 */

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Amazon Ember', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #16191f;
  background: #f2f3f3;
  font-size: 14px;
  line-height: 1.5;
}

code {
  font-family: 'Monaco', 'Menlo', 'Consolas', monospace;
}

a { color: #0073bb; text-decoration: none; }
a:hover { text-decoration: underline; }
